# Ignore node_modules in the root directory
/node_modules


# Ignore node_modules in backend and frontend
backend/node_modules
frontend/node_modules

# Other common ignores
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git_backup/